body{
  height:auto;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
}
.header{
flex-grow: 1;
  height:auto;
  background-color: mediumseagreen;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header h1{
  color:#ffffff;
  letter-spacing: 2px;
  font-family:'Courier New';
}
.content{
  display: flex;
  height:auto;
  background-color: #3BC08B;
  margin:0;
  padding:10px;
  flex-direction: column;
}
.content h1{
  color:#ffffff;
  flex-grow: 1;
}
.article_space{
  width:100%;
  height:500px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.article{
  width:270px;
  height:380px;
  border-radius: 4px;
  background-color:#ffffff;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
.article img{
  max-width: 100%;
  height:200px;
}

#bluebells{
  margin:0;
  font-size: 26px;
  text-align: center;
}
.article p{
  padding:10px;
  justify-content: center;
  margin-top: 0px;
}
